.App {
  text-align: center;
}

.logo-wrapper {
  display: flex;
}

.React-logo-wrapper {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  overflow: hidden;
}

.React-logo {
  position: absolute;
  transform: translateX(-50%);
  left:50%;
  top:0;
  height: 40vmin;
  pointer-events: none;
}

.Vite-logo {
  height: 40vmin;
  width: 40vmin;
  box-sizing: border-box;
  padding: 3vmin 0;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .React-logo-wrapper  {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
